In [1]:
import numpy
import os
import pandas as pd
from make_dataset import BCIDataset

In [74]:
classes = {'hand_right': 0, 'hand_left': 1, 'wrist_right': 2, 'wrist_left': 3}
subjects = ["anna"]
measurements = ["2023-02-16_14-58-30"]

In [75]:
data_root = "C:/Users/annag/OneDrive - Danmarks Tekniske Universitet/Semester_04/Special_Course_BCI/03_code/BCI_stroke_rehab/data/raw/"

## With class

In [76]:
mydataset = BCIDataset(data_root, subjects, measurements)

In [77]:
mydataset.data

,subject,measurement,class,sampleID,path,data
0,anna,2023-02-16_14-58-30,arm_left,11,arm_left_11_1676556229.csv,Unnamed: 0 class time_in_s CZ ...
1,anna,2023-02-16_14-58-30,arm_left,13,arm_left_13_1676556263.csv,Unnamed: 0 class time_in_s CZ...
2,anna,2023-02-16_14-58-30,arm_left,16,arm_left_16_1676556313.csv,Unnamed: 0 class time_in_s CZ ...
3,anna,2023-02-16_14-58-30,arm_left,17,arm_left_17_1676556330.csv,Unnamed: 0 class time_in_s CZ...
4,anna,2023-02-16_14-58-30,arm_left,18,arm_left_18_1676556346.csv,Unnamed: 0 class time_in_s CZ...
5,anna,2023-02-16_14-58-30,arm_left,19,arm_left_19_1676556363.csv,Unnamed: 0 class time_in_s CZ...
6,anna,2023-02-16_14-58-30,arm_left,26,arm_left_26_1676556480.csv,Unnamed: 0 class time_in_s CZ...
7,anna,2023-02-16_14-58-30,arm_left,27,arm_left_27_1676556497.csv,Unnamed: 0 class time_in_s C...
8,anna,2023-02-16_14-58-30,arm_left,28,arm_left_28_1676556514.csv,Unnamed: 0 class time_in_s CZ...
9,anna,2023-02-16_14-58-30,arm_left,29,arm_left_29_1676556531.csv,Unnamed: 0 class time_in_s CZ...
10,anna,2023-02-16_14-58-30,arm_left,2,arm_left_2_1676556078.csv,Unnamed: 0 class time_in_s C...
11,anna,2023-02-16_14-58-30,arm_left,32,arm_left_32_1676556581.csv,Unnamed: 0 class time_in_s CZ...
12,anna,2023-02-16_14-58-30,arm_left,35,arm_left_35_1676556632.csv,Unnamed: 0 class time_in_s CZ...
13,anna,2023-02-16_14-58-30,arm_left,37,arm_left_37_1676556666.csv,Unnamed: 0 class time_in_s CZ ...
14,anna,2023-02-16_14-58-30,arm_left,39,arm_left_39_1676556699.csv,Unnamed: 0 class time_in_s CZ...
15,anna,2023-02-16_14-58-30,arm_left,3,arm_left_3_1676556095.csv,Unnamed: 0 class time_in_s CZ ...
16,anna,2023-02-16_14-58-30,arm_left,6,arm_left_6_1676556145.csv,Unnamed: 0 class time_in_s CZ...
17,anna,2023-02-16_14-58-30,arm_left,7,arm_left_7_1676556162.csv,Unnamed: 0 class time_in_s CZ...
18,anna,2023-02-16_14-58-30,arm_left,8,arm_left_8_1676556179.csv,Unnamed: 0 class time_in_s CZ...
19,anna,2023-02-16_14-58-30,arm_left,9,arm_left_9_1676556195.csv,Unnamed: 0 class time_in_s CZ...
20,anna,2023-02-16_14-58-30,arm_right,0,arm_right_0_1676556044.csv,Unnamed: 0 class time_in_s C...
21,anna,2023-02-16_14-58-30,arm_right,10,arm_right_10_1676556212.csv,Unnamed: 0 class time_in_s C...
22,anna,2023-02-16_14-58-30,arm_right,12,arm_right_12_1676556246.csv,Unnamed: 0 class time_in_s C...
23,anna,2023-02-16_14-58-30,arm_right,14,arm_right_14_1676556279.csv,Unnamed: 0 class time_in_s ...
24,anna,2023-02-16_14-58-30,arm_right,15,arm_right_15_1676556296.csv,Unnamed: 0 class time_in_s C...
25,anna,2023-02-16_14-58-30,arm_right,1,arm_right_1_1676556061.csv,Unnamed: 0 class time_in_s ...
26,anna,2023-02-16_14-58-30,arm_right,20,arm_right_20_1676556380.csv,Unnamed: 0 class time_in_s C...
27,anna,2023-02-16_14-58-30,arm_right,21,arm_right_21_1676556397.csv,Unnamed: 0 class time_in_s CZ...
28,anna,2023-02-16_14-58-30,arm_right,22,arm_right_22_1676556413.csv,Unnamed: 0 class time_in_s C...
29,anna,2023-02-16_14-58-30,arm_right,23,arm_right_23_1676556430.csv,Unnamed: 0 class time_in_s C...
30,anna,2023-02-16_14-58-30,arm_right,24,arm_right_24_1676556447.csv,Unnamed: 0 class time_in_s ...
31,anna,2023-02-16_14-58-30,arm_right,25,arm_right_25_1676556464.csv,Unnamed: 0 class time_in_s C...
32,anna,2023-02-16_14-58-30,arm_right,30,arm_right_30_1676556548.csv,Unnamed: 0 class time_in_s C...
33,anna,2023-02-16_14-58-30,arm_right,31,arm_right_31_1676556565.csv,Unnamed: 0 class time_in_s C...
34,anna,2023-02-16_14-58-30,arm_right,33,arm_right_33_1676556598.csv,Unnamed: 0 class time_in_s C...
35,anna,2023-02-16_14-58-30,arm_right,34,arm_right_34_1676556615.csv,Unnamed: 0 class time_in_s C...
36,anna,2023-02-16_14-58-30,arm_right,36,arm_right_36_1676556649.csv,Unnamed: 0 class time_in_s C...
37,anna,2023-02-16_14-58-30,arm_right,38,arm_right_38_1676556683.csv,Unnamed: 0 class time_in_s CZ...
38,anna,2023-02-16_14-58-30,arm_right,4,arm_right_4_1676556112.csv,Unnamed: 0 class time_in_s C...
39,anna,2023-02-16_14-58-30,arm_right,5,arm_right_5_1676556128.csv,Unnamed: 0 class time_in_s C...

In [81]:
sample, label = mydataset[5]
print(label)

arm_left

In [82]:
sample.shape

(356, 19)

In [83]:
sample

,Unnamed: 0,class,time_in_s,CZ,C4,T4,T5,P3,PZ,P4,FZ,FP1,FP2,F7,F3,F4,F8,T3,C3
0,0,arm_left,0.000000,-3.250639,-4.769507,1.252441,4.077435,-0.046579,0.682823,-0.422312,-6.924193,-7.730129,-6.949304,-2.385639,-5.571242,-13.688707,-11.164519,-2.549577,-8.191800
1,1,arm_left,0.001999,-2.365046,-0.033201,-0.566471,-5.786932,-0.449473,1.737254,2.672940,-3.935608,-2.383053,-3.725821,1.912661,-5.307523,-6.706668,-4.559997,3.767071,-3.161368
2,2,arm_left,0.002999,-3.992604,-2.733656,-7.787313,-13.560453,-4.397272,-0.939137,0.426817,-3.069917,-1.128267,-5.258399,0.993857,-3.983941,-4.286403,-3.494253,-0.038275,-4.468765
3,3,arm_left,0.003998,0.761242,1.843167,4.516137,-12.480618,-2.772329,0.924762,3.558485,1.100368,3.126752,-3.673133,1.194153,1.170561,-4.797288,-2.141933,-5.585482,-7.104341
4,4,arm_left,0.004998,3.618539,-0.912623,-6.321296,1.831424,2.473719,-0.668887,-4.253282,-0.262457,-3.990212,-5.079653,-2.443459,-3.187452,-5.951631,-3.171535,4.362161,-0.388723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,351,arm_left,4.800668,-2.804890,0.535987,-7.542693,-9.297726,5.736448,7.455752,15.311980,-10.416794,-8.153904,-6.258957,-10.379045,-7.319754,-11.261604,-7.426096,-7.347037,-2.263408
352,352,arm_left,4.929594,-5.151044,-11.049138,-10.750011,-12.446608,-17.196091,-8.858424,-6.655622,-8.913810,-11.449740,-7.013406,-12.998001,-7.971681,-2.066345,-7.673173,-14.349651,-13.711356
353,353,arm_left,4.979565,0.874468,3.212265,8.174583,7.766922,3.282419,-1.928915,-0.418435,2.333411,13.564730,15.361003,13.941303,14.115391,12.317820,14.366679,7.457225,13.352911
354,354,arm_left,4.980565,-3.717076,-0.828983,1.713296,15.602294,3.133401,-2.454707,0.451882,-2.621972,7.071879,4.483471,7.459714,4.427217,0.834261,4.397851,11.318006,7.665420
355,355,arm_left,5.036573,0.236298,-1.219876,-2.576098,-3.825818,-1.539857,-4.444300,-2.999677,-4.649827,-13.027090,-9.868245,-14.203248,-14.093647,-13.962784,-9.089412,-19.325129,-11.284673

In [60]:
sample.iloc[:, 3:]

,CZ,C4,T4,T5,P3,PZ,P4,FZ,FP1,FP2,F7,F3,F4,F8,T3,C3
0,-424.601257,270.289124,467.093018,302.171112,-606.826843,-695.250916,304.284027,-710.588379,-639.072021,-668.076965,-731.727417,-1.168033e-08,223.562973,-3.367808e-04,233.303741,-1.756457e-08
1,-461.009491,-40.960918,188.466873,105.434639,-425.834564,-125.257622,73.226189,-233.360199,-524.351868,-509.446442,-522.837524,1.301178e-08,153.038879,-4.225874e-05,174.719177,1.638557e-08
2,86.999687,-79.620056,-35.139828,-31.780567,97.495819,136.761887,-45.489765,152.863922,137.826508,150.112137,150.710922,2.264619e-08,-41.839859,4.546501e-05,30.730019,2.078862e-08
3,315.380951,-198.023712,-428.441803,-49.442204,368.496216,444.229523,-257.054657,431.593231,350.523590,373.962219,387.423065,-2.107311e-08,-204.830887,5.798650e-06,-129.391083,-2.036424e-08
4,313.827362,-34.579914,-149.412018,-193.697144,332.888153,357.240997,-76.580963,363.838135,360.781281,358.552032,379.572449,1.803297e-08,-216.664429,-3.997640e-07,-253.355881,2.021168e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,187.770752,2.105491,-188.338501,-23.379742,154.679947,100.565430,-91.539406,120.713341,161.718262,161.839706,156.585831,-4.500716e+01,-64.250587,1.573929e+02,-177.138992,1.672374e+02
129,120.836411,61.088612,-121.052864,3.649549,72.258644,17.604469,-59.916634,40.960865,75.460274,72.291840,62.472317,2.492655e+01,-32.696556,6.776421e+01,-142.944031,1.586008e+02
130,-15.662108,164.937149,66.485153,47.720108,-82.340446,-137.297363,43.273212,-116.803772,-96.090050,-95.961800,-112.364670,1.466496e+02,41.931267,-9.963176e+01,-21.614620,1.118615e+02
131,-156.960999,16.137632,178.722534,38.533646,-151.114120,-145.344208,85.574371,-154.631210,-124.836617,-133.717834,-131.841812,7.283610e+01,72.250221,-1.309556e+02,164.708069,-8.206948e+01
132,66.072617,-23.327169,-21.013601,4.401416,79.540031,76.306320,-20.003599,79.594849,64.994843,65.823692,64.977264,-3.144550e+01,-31.384768,6.544905e+01,-40.757832,-4.580382e+00

## Developed Function

In [64]:
dataframe = {}
for subj in subjects:
    for measurement in measurements:
        dirpath = os.path.join(data_root, subj+"/", measurement+"/")
        if os.path.isdir(dirpath):
            directory = os.listdir(dirpath)
        else:
            continue
        classnames = list(classes.keys())
        for file in directory:
            print(file)
            indexes = [ind for ind, ch in enumerate(file) if ch.lower() == '_']
            
            # Get data
            filepath = data_root + subj+"/"+measurement+"/"+file
            sample = pd.read_csv(os.path.abspath(filepath))
            print(len(sample))
            
            if len(dataframe)==0:
                dataframe['subject'] = [subj]
                dataframe['measurement'] = [measurement]
                dataframe['class'] = [file[0:indexes[1]]]
                dataframe['sampleID'] = [file[indexes[1]+1:indexes[2]]]
                dataframe['path'] = [file]
                dataframe['data'] = [sample]
            else:
                dataframe['subject'].append(subj)
                dataframe['measurement'].append(measurement)
                dataframe['class'].append(file[0:indexes[1]])
                dataframe['sampleID'].append(file[indexes[1]+1:indexes[2]])
                dataframe['path'].append(file)
                dataframe['data'].append(sample)

                
dataframe = pd.DataFrame(dataframe)

arm_left_1_1676558290.csv
224
arm_right_0_1676558273.csv
82
arm_right_2_1676558306.csv
133
arm_right_3_1676558323.csv
130

In [65]:
dataframe

,subject,measurement,class,sampleID,path,data
0,anna,test_2023-02-16_15-37-21,arm_left,1,arm_left_1_1676558290.csv,Unnamed: 0 class time_in_s ...
1,anna,test_2023-02-16_15-37-21,arm_right,0,arm_right_0_1676558273.csv,Unnamed: 0 class time_in_s ...
2,anna,test_2023-02-16_15-37-21,arm_right,2,arm_right_2_1676558306.csv,Unnamed: 0 class time_in_s ...
3,anna,test_2023-02-16_15-37-21,arm_right,3,arm_right_3_1676558323.csv,Unnamed: 0 class time_in_s ...

In [72]:
sample = dataframe['data'].loc[2]

In [73]:
sample

,Unnamed: 0,class,time_in_s,CZ,C4,T4,T5,P3,PZ,P4,FZ,FP1,FP2,F7,F3,F4,F8,T3,C3
0,0,arm_right,0.000000,-424.601257,270.289124,467.093018,302.171112,-606.826843,-695.250916,304.284027,-710.588379,-639.072021,-668.076965,-731.727417,-1.168033e-08,223.562973,-3.367808e-04,233.303741,-1.756457e-08
1,1,arm_right,0.001000,-461.009491,-40.960918,188.466873,105.434639,-425.834564,-125.257622,73.226189,-233.360199,-524.351868,-509.446442,-522.837524,1.301178e-08,153.038879,-4.225874e-05,174.719177,1.638557e-08
2,2,arm_right,0.001999,86.999687,-79.620056,-35.139828,-31.780567,97.495819,136.761887,-45.489765,152.863922,137.826508,150.112137,150.710922,2.264619e-08,-41.839859,4.546501e-05,30.730019,2.078862e-08
3,3,arm_right,0.002999,315.380951,-198.023712,-428.441803,-49.442204,368.496216,444.229523,-257.054657,431.593231,350.523590,373.962219,387.423065,-2.107311e-08,-204.830887,5.798650e-06,-129.391083,-2.036424e-08
4,4,arm_right,0.003998,313.827362,-34.579914,-149.412018,-193.697144,332.888153,357.240997,-76.580963,363.838135,360.781281,358.552032,379.572449,1.803297e-08,-216.664429,-3.997640e-07,-253.355881,2.021168e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,128,arm_right,4.888614,187.770752,2.105491,-188.338501,-23.379742,154.679947,100.565430,-91.539406,120.713341,161.718262,161.839706,156.585831,-4.500716e+01,-64.250587,1.573929e+02,-177.138992,1.672374e+02
129,129,arm_right,4.889613,120.836411,61.088612,-121.052864,3.649549,72.258644,17.604469,-59.916634,40.960865,75.460274,72.291840,62.472317,2.492655e+01,-32.696556,6.776421e+01,-142.944031,1.586008e+02
130,130,arm_right,4.930583,-15.662108,164.937149,66.485153,47.720108,-82.340446,-137.297363,43.273212,-116.803772,-96.090050,-95.961800,-112.364670,1.466496e+02,41.931267,-9.963176e+01,-21.614620,1.118615e+02
131,131,arm_right,4.967564,-156.960999,16.137632,178.722534,38.533646,-151.114120,-145.344208,85.574371,-154.631210,-124.836617,-133.717834,-131.841812,7.283610e+01,72.250221,-1.309556e+02,164.708069,-8.206948e+01
132,132,arm_right,5.015534,66.072617,-23.327169,-21.013601,4.401416,79.540031,76.306320,-20.003599,79.594849,64.994843,65.823692,64.977264,-3.144550e+01,-31.384768,6.544905e+01,-40.757832,-4.580382e+00